{% extends "base.html" %}
{% block content %}
            <main class="row body-row">
                <div class="col-md-4 catagory">
                    <div class="padding-left-xl">
                        <h2>Catagory</h2>
                        <a href="{{url_for('showItems', category_name=curCategory.name)}}">{{ curCategory.name }}</a>
                        <h2>Item</h2>
                        <a href="">{{ curItem.name }}</a>
                        <form action="{{url_for('showMain')}}">
                            <input type="submit" value="Home">
                        </form>
                    </div>
                </div>

                <div class="col-md-8 item">
                    <div class="padding-left-xl">
                        <h2 class="name">{{ curItem.name }}</h2>
                        <p class="desc">{{ curItem.description }}</p>
                        {% if 'username' in session %}
                            <form action="{{url_for('editItem', category_name=curCategory.name, item_name=curItem.name)}}">
                                <input type="submit" value="Edit">
                            </form>
                            <form action="{{url_for('deleteItem', category_name=curCategory.name, item_name=curItem.name)}}">
                                <input type="submit" value="Delete">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </main>
{% endblock %}
