{% extends "base.html" %}
{% block content %}
            <main class="row body-row">
                <div class="col-md-4 catagory">
                    <ul>
                        <h2>Catagories</h2>
                            {% for category in categories %}
                                <li><a href="{{url_for('showItems', category_name=category.name)}}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        <form action="{{url_for('showMain')}}">
                            <input type="submit" value="Home">
                        </form>
                    </ul>
                </div>

                <div class="col-md-8 item">
                    <ol>
                        {% if num_items == 0 %}
                            <h2>{{ curCategory.name }}  (0 item)</h2>
                            <p class="name">You currently have no items for {{ curCategory.name }}</p>
                        {% else %}
                            <h2>{{ curCategory.name }}  ({{ num_items }} items)</h2>
                                {% for item in items %}
                                    <li><a href="{{url_for('showItem', category_name=curCategory.name, item_name=item.name)}}">{{ item.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        <form action="{{url_for('newItem')}}">
                            <input type="submit" value="Add Item">
                        </form>
                    </ol>
                </div>
            </main>
{% endblock %}
