{% extends "base.html" %}
{% block content %}
            <main class="row body-row">
                <div class="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li><strong>{{message}}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="col-md-4">
                    <ul>
                        <h2>Catagories</h2>
                            {% for category in categories %}
                                <li><a href="{{url_for('showItems', category_name=category.name)}}">{{ category.name }}</a></li>
                            {% endfor %}
                    </ul>
                </div>

                <div class="col-md-8">
                    <ol>
                        <h2>Latest Items</h2>
                            {% for item in latestItems %}
                                {% for category in categories %}
                                    {% if category.id == item.cat_id %}
                                        <li><a href="{{url_for('showItem', category_name=category.name, item_name=item.name)}}">{{ item.name }}</a>
                                        <span class="item_catName">- {{ category.name }}</span></li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        {% if 'username' in session %}
                            <form action="{{url_for('newItem')}}">
                                <input type="submit" value="Add Item">
                            </form>
                        {% endif %}
                    </ol>
                </div>
            </main>
{% endblock %}
